<<<<<<< HEAD
body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: sepia(0.4) saturate(1.5) contrast(0.8);
}

.container {
    background-color: #000000;
    max-width: 480px;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: white;
}

form {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    color: white;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

form select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
}

form input[type="number"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 97%;
    margin-bottom: 20px;
    font-family: "Courier New", Courier, monospace;
}

form input[type="submit"] {
    background-color: #008CBA;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #0077A8;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #3e8e41;
}

.typewriter {
    animation: typing 3s steps(30, end);
    white-space: nowrap;
    overflow: hidden;
    font-size: 30px;
    border-right: 3px solid black;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.card-metodo {
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 8%;
    width: 80%;
}

.card-metodo h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-metodo p {
    margin-bottom: 10px;
}


/* Estilos para dispositivos móviles */

@media screen and (max-width: 767px) {
    .container {
        margin: 10% auto;
        padding: 10px;
    }
    form input[type="number"] {
        width: 100%;
    }
    button {
        width: 100%;
    }
    .card-metodo {
        margin: 5%;
        width: 80%;
    }
}


/* Estilos para tabletas */

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 90%;
        margin: 5% auto;
        padding: 20px;
    }
    form input[type="number"] {
        width: 90%;
    }
    button {
        width: 90%;
    }
    .card-metodo {
        margin: 5%;
        width: 80%;
    }
}


/* Estilos para pantallas medianas */

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 80%;
        margin: 5% auto;
        padding: 20px;
    }
    form input[type="number"] {
        width: 80%;
    }
    button {
        width: 80%;
    }
    .card-metodo {
        margin: 5%;
        width: 70%;
    }
=======
body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: sepia(0.4) saturate(1.5) contrast(0.8);
}

.container {
    background-color: #edf3ee;
    max-width: 480px;
    margin: 5% auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

form select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
}

form input[type="number"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 97%;
    margin-bottom: 20px;
    font-family: "Courier New", Courier, monospace;
}


/* form input[type="radio"] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
} */

form input[type="submit"] {
    background-color: #008CBA;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #0077A8;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #3e8e41;
}

.typewriter {
    animation: typing 3s steps(30, end);
    white-space: nowrap;
    overflow: hidden;
    font-size: 30px;
    border-right: 3px solid black;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
>>>>>>> e7a0e271ffc39187ababb6310f9b38b63fc9c43f
}